Congratulations! You've just registered and created an order on the site #{t 'application_name'}!

Your account has been activated and got a randomly generated password that we do not keep in the form anyone can read it.

So you need to reset it in order to have ability to login again.

You can request a new password reset using the link from the login page which is also shown below.

:plain
= @new_password_reset_url
:plain

If the above URL does not work try copying and pasting it into your browser. If you continue to have problem, please feel free to contact us.
